@media screen and (max-width: 1199px) {
	.container{
		padding: 0 70px;
	}
	#home_slider .owl-nav{
		left: -95px;
	}
	.box_content_home_slider{
		padding: 30px 40px 0;
	}
	.main_menu > li{
		margin-left: 15px;
	}
	.head_social li{
		margin-right: 15px;
	}
	.hm_txt h2{
		font-size: 36px;
	}
	.bk_thead{
		padding-left: 20px;
		margin-left: 20px;
	}
	.main_menu > li > a{
		font-size: 16px;
	}
	.head_social li > a{
		font-size: 16px;
		width: 20px;
		height: 20px;
	}
	.site_translate li a{
		font-size: 16px;
	}
	.btn_blue{
		font-size: 15px;
	}
	.hm_txt p{
		font-size: 18px;
	}
	.accordion_about .card-header .btn-link,.bk_content_sty h2{
		font-size: 22px;
	}
	.play_btn{
		width: 80px;
		height: 80px;
		top: calc(100% - 110px);
		left: 30px;
	}
	.play_btn img{
		width: 36px;
	}
	.vedio_line_two{
		max-width: calc(100% - 130px);
		top: calc(100% - 80px);
	}
	.hm_line_two{
		left: calc(100% - 60px);
	}
	.hm_line_one{
		height: 80px;
	}
	.hm_line_three{
		right: 30px;
	}
	.hm_line_five{
		right: calc(100% - 40px);
	}
}
@media screen and (max-width: 991px) {
	.container{
		padding: 0 15px;
	}
	.bottom_head,.hidden_mb{
		display: none !important;
	}
	#header{
		padding: 25px 0;
	}
	#home_slider .owl-nav{
		display: none !important;
	}
	.box_content_home_slider{
		padding: 30px 25px 0;
	}
	.hm_line_one,.hm_line_four,.hm_line_five{
		display: none;
	}
	.hm_txt h2{
		font-size: 28px;
	}
	.owl_st.owl-carousel .owl-nav{
		display: none !important;
	}
	.owl_st.owl-carousel .owl-dots{
		display: block !important;
	}
	#header .menu-trigger{
		display: block !important;
	}
	#home_slider .owl-dots{
		display: block !important;
	}
	.accordion_about .card-header .btn-link,.bk_content_sty h2{
		font-size: 20px;
	}
	.ft_about{
		text-align: center;
	}
	.copy_right_lg{
		display: none;
	}
	.copy_right_md{
		display: block;
		text-align: center;
		margin-top: 30px;
	}
	.top_footer{
		padding: 80px 0 50px;
	}
	.ft_title.align_center{
		text-align: center;
	}
	.ft_info{
		margin-bottom: 20px;
	}
	.item_membership h2{
		font-size: 24px;
	}
	.play_btn {
	    width: 65px;
	    height: 65px;
	    top: calc(100% - 90px);
	    left: 20px;
	}
	.play_btn img {
	    width: 28px;
	}
	.vedio_line_two {
	    max-width: calc(100% - 100px);
	    top: calc(100% - 65px);
	}
	.box_title_page .breadcrumb li{
		font-size: 18px;
	}
	.box_title_page .breadcrumb li a img{
		width: 30px;
	}
	.join_txt h2{
		font-size: 24px;
	}
	.join_sc_content{
		padding: 100px 0;
	}
	.search_head_banner .form_st1 .form-control{
		min-width: 300px;
	}
	.box_info{
		padding: 20px;
	}
	.menu_about li{
		margin-left: 20px;
	}
	.not_found_txt h2{
	  font-size: 30px;
	}
	.not_found_txt p{
	  font-size: 18px;
	}
	.confirm_right_content,.confirm_bk{
		padding: 20px 40px;
	}
	.ptn_three{
		right: 0;
	}
	.ptn_two{
		right: 0;
	}
}
@media screen and (max-width: 767px) {
	.logo_site > a{
		max-width: 150px;
	}
	.btns_head_action > .btn_blue span{
		display: none;
	}
	.btns_head_action > .btn_blue{
		border-radius: 50%;
		width: 40px;
		height: 40px;
		padding: 8px;
		display: flex;
		margin-left: 10px;
	}
	.btn_blue > img{
		margin: auto;
		max-width: 18px;
	}
	#home_slider{
		bottom: auto;
	}
	.hm_pic{
		margin-bottom: 20px;
	}
	.box_content_home_slider{
		padding: 30px 20px;
	}
	.hm_txt .btn_sty,.hm_txt p{
		margin-top: 20px;
	}
	.hm_txt h2{
		font-size: 24px;
	}
	.hm_txt p{
		font-size: 16px;
		line-height: 25px;
	}
	.btn_sty{
		font-size: 16px;
		padding: 12px 30px 12px 50px;
		min-width: 180px;
		height: 52px;
	}
	.btn_arrow{
		top: 5px;
	}
	#home_slider .owl-dots{
		bottom: -70px;
	}
	.section_home{
		padding: 0 0 80px;
	}
	.hm_pic,.vedio_pic{
		border-radius: 0 0 120px 0;
	}
	.top_footer{
		padding: 50px 0 30px;
	}
	.ft_title{
		font-size: 20px;
	}
	.ft_social{
		margin-bottom: 20px;
	}
	.section_media{
		padding: 50px 0;
	}
	.sc_head_txt h2{
		font-size: 22px;
	}
	.section_memberships{
		padding: 50px 0 30px;
	}
	.section_services{
		padding: 30px 0 50px;
	}
	.section_initiatives{
		padding: 50px 0 30px;
	}
	.section_about{
		padding: 50px 0 30px;
	}
	.bk_about_vedio{
		margin-bottom: 20px;
	}
	.accordion_about .card-header .btn-link,.bk_content_sty h2{
		font-size: 18px;
	}
	.accordion_about .card-header{
		padding: 1rem 1.25rem;
	}
	.collapse_icon{
		width: 40px;
		height: 40px;
	}
	.item_membership h2{
		font-size: 22px;
	}
	.bk_about_vedio{
		height: auto;
	}
	.accordion_about {
		position: relative;
		z-index: 1;
	}
	.services_line_two{
		left: -100px;
	}
	.ft_line_two{
		display: none;
	}
	.title_line_two{
		display: none;
	}
	.box_title_page{
		padding: 50px 15px;
	}
	.join_txt h2,.title_sub h2{
		font-size: 22px;
	}
	.join_sc_content{
		padding: 80px 0;
	}
	.contact_sc .box_subscribe{
		margin-bottom: 20px;
	}
	.contact_sc:before{
		display: none;
	}
	.map_bk{
		width: 100%;
		height: 500px;
		margin: 0;
	}
	.box_info{
		position: static;
		width: 100%;
		margin-top: 30px;
	}
	.content_innerPage_contact{
		padding-bottom: 100px;
	}
	.info_item{
		margin-bottom: 20px;
	}
	.cont_bkHead,.cont_bk_ft,.cont_bkBody,.bk_menu_about{
		padding: 20px;
	}
	.directors_item h3{
		font-size: 18px;
	}
	.menu_about li{
		width: 33.333%;
		margin: 0 0 10px 0;
	}
	.not_found_txt h2{
	  font-size: 26px;
	}
	.not_found_txt p{
	  font-size: 18px;
	}
	.not_found_content > img{
	  max-width: 60%;
	}
	.modal_txt h3{
		font-size: 22px;
	}
	.state_img{
		width: 80px;
	}
	.state_right{
		padding-right: 100px;
	}
	.box_state .btn_sty {
	    min-width: 160px;
	}
	.half_cont{
		height: auto;
	}
	.ptn_one,.ptn_two,.ptn_three,.ptn_four{
		display: none;
	}
	.confirm_right_content{
		text-align: center;
	}
	.confirm_right_content .ft_social{
		display: table;
		margin: 30px auto;
	}
}
@media screen and (max-width: 575px) {
	#header{
		padding: 20px 0;
	}
	#header .container{
		display: block !important;
	}
	.logo_site{
		text-align: center;
	}
	.bk_thead:before{
		display: none;
	}
	.group_translate_search{
		padding: 0;
		margin: 0;
		margin-left: auto !important;
	}
	.head_group_left{
		margin-top: 10px;
	}
	.hm_txt h2{
		font-size: 20px;
	}
	.hm_txt p{
		font-size: 15px;
	}
	.ft_title{
		font-size: 18px;
	}
	.box_subscribe{
		padding: 30px 20px 20px;
	}
	.sc_head_txt h2{
		font-size: 20px;
	}
	.box_services p{
		height: auto;
	}
	.item_membership h2{
		font-size: 20px;
	}
	.play_btn{
		width: 60px;
		height: 60px;
	}
	.play_btn img{
		width: 28px;
	}
	.initiat_pic img{
		width: 85px !important;
		height: 85px;
	}
	.link_request{
		opacity: 1;
		visibility: visible;
	}
	.center-screen{
		width: 95%;
	}
	.head_search_title h2{
		font-size: 20px;
	}
	.box_title_page .breadcrumb li{
		font-size: 16px;
	}
	.evnt_link_arrow{
		display: none;
	}
	.txt_event p,.event_lg_box.box_event_item .txt_event > p{
		padding: 0;
	}
	.event_lg_box.box_event_item .txt_event h2{
		font-size: 16px;
	}
	.event_lg_box.box_event_item .txt_event p,.txt_event h2{
		font-size: 14px;
	}
	.txt_event p{
		font-size: 12px;
	}
	.event_lg_box.box_event_item .txt_event{
		padding: 20px 0 0;
	}
	.join_txt h2{
		font-size: 20px;
	}
	.join_sc_content{
		display: block !important;
	}
	.join_txt{
		text-align: center;
		margin-bottom: 20px;
	}
	.join_sc_content .btn_sty{
		display: table;
		margin: auto;
	}
	.initiative_txt{
		padding-top: 20px;
		padding-right: 0;
	}
	.title_sub h2{
		font-size: 20px;
	}
	.search_head_banner{
		display: block !important;
	}
	.title_sub{
		margin-bottom: 20px;
	}
	.menu_about li{
		width: 100%;
	}
	#details_slide .owl-nav{
		display: none !important;
	}
	.owl-thumbs{
		position: static;
		display: table;
		margin: auto;
	}
	.itm_tm{
		width: 100%;
	}
	.itm_tm > img{
		width: 100%;
	}
	.content_innerPage{
		padding: 50px 0;
	}
	.not_found_txt h2{
	  font-size: 22px;
	}
	.not_found_txt p{
	  font-size: 16px;
	}
	.modal_txt h3{
		font-size: 20px;
	}
	.box_state{
		display: block !important;
	}
	.state_right{
		padding: 0;
		text-align: center;
	}
	.state_img{
		position: static;
		margin:auto;
		margin-bottom: 20px;
	}
	.box_state .btn_sty{
		display: table;
		margin: 20px auto 0;
	}
	.state_cancel{
		padding-left: 20px;
		padding-bottom: 100px;
	}
	.st_bk_date{
		top: auto;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 90px;
		text-align: center;
		border-radius: 0 0 8px 8px;
	}
	.st_bk_date p{
		font-size: 16px;
	}
	.confirm_right_content, .confirm_bk{
		padding: 30px 20px;
	}
}